<a href="https://colab.research.google.com/github/rntrapnell/Pizza-Toppings-Conversion/blob/master/Pizza_toppings.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd

In [0]:
pineapple = pd.read_excel('/content/drive/My Drive/Pineapple specific.xlsx', header =[0,1])
pick = pd.read_excel('/content/drive/My Drive/Liked toppings.xlsx', header =[0,1])
ban = pd.read_excel('/content/drive/My Drive/Ban toppings.xlsx', header =[0,1])

In [0]:
pineapple_starting_indexes = [('Unnamed: 0_level_0', 'Question'),('Unnamed: 1_level_0', 'Response')]
pineapple_new_indexes = ['Question', 'Response']
pineapple_total_column = 'Unnamed: 2_level_0'

pick_ban_starting_index = ('Unnamed: 0_level_0', 'Response')
pick_ban_new_index = ['Response']
pick_ban_total_column = 'Unnamed: 1_level_0'

In [0]:
def fix_columns(df, starting_indexes, new_indexes, total_column):
  df.set_index(starting_indexes, inplace=True)
  df.index.names = new_indexes
  df.reset_index(inplace=True)
  df.rename(columns={total_column: 'Total'}, inplace=True)
  return df

In [0]:
pineapple_fixed_columns = fix_columns(pineapple, pineapple_starting_indexes, pineapple_new_indexes, pineapple_total_column)
pick_fixed_columns = fix_columns(pick, pick_ban_starting_index, pick_ban_new_index, pick_ban_total_column)
ban_fixed_columns = fix_columns(ban, pick_ban_starting_index, pick_ban_new_index, pick_ban_total_column)

In [0]:
def melt_demographics(df, id_variables):
  demographics = df.melt(id_vars=id_variables ,value_vars=['Total', 'Age', 'Social Grade', 'Region'])
  return demographics

In [0]:
pineapple_demographics = melt_demographics(pineapple_fixed_columns, pineapple_new_indexes)
pick_demographics = melt_demographics(pick_fixed_columns, pick_ban_new_index)
ban_demographics = melt_demographics(ban_fixed_columns, pick_ban_new_index)

In [0]:
ban_demographics.head()

    Response variable_0 variable_1  value
0  Anchovies      Total      Total     35
1     Olives      Total      Total     20
2       Tuna      Total      Total     19
3  Jalapeños      Total      Total     16
4  Pineapple      Total      Total     15

In [0]:
pineapple_demographics.to_csv('pineapple.csv')
pick_demographics.to_csv('pick.csv')
ban_demographics.to_csv('ban.csv')